* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9em;
}

nav {
    margin: 1em .5em;
}

ul, li, a {
    display: inline-block;    
}

ul {
    list-style: none;
}

li {
    line-height: 1em;
    margin: 0 .5em;
}

li a img {
    height: 1em;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: unset;
    padding: .7em;
}

nav ul:last-child {
    float: right;
}

.btn {
    background-color: #0061ffff;
    color: white;
    padding: .7em;
    text-decoration: none;
}

main > header {
    height: 500px;
    background-color: #b4d0e7ff;
}

header .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 3.5em;
}

header h1 {
    font-size: 3.5em;
    margin-bottom: .5em;
}

header .content > div {
    display: inline-block;
    width: 35%;
}

header .content img {
    width: 65%;
    float: right;
}

header .btn {
    margin-top: 2em;
    margin-bottom: .5em;
}

.content span {
    font-size: .9em;
}

section {
    width: 60%;
    margin: 10em auto;
}

section h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

.plan {
    height: 100%;
    width: calc( (100% - 120px) / 3);
    border: 1px solid gray;
    float: left;
    margin: 0 20px;
}

.content {
    padding: 0 20px;    
}

#plancontainer {
    height: 850px;
    margin: 20px -20px;
}

.type{
    text-align: center;
    font-size: 1.2em;
    padding: 3px 0;
    border-bottom: 1px solid gray;
}

.content h2 {
    margin: .8em 0;
}

.plan .price {
    font-weight: bold;
}

.plan .mode {
    color: gray;
    margin-top: 1em;
    height: 3.5em;
}

.utent, .storage, .functions{
    margin: 1.5em 0;
}

.plan hr {
    width: 20%;
    margin: 2em 0;
}

.plan li {
    margin: 1em 0;
}

.plan .btn, #link .btn {
    width: 100%;
    text-align: center;
}

.option {
    margin-right: .5em;
}

.option input {
    margin-right: 3px;
    vertical-align: middle;
}

#plan > div:last-child {
    width: 100%;
    border: 1px solid gray;
}

#textarea {
    width: calc(60% - .7em);
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

#description {
    font-size: .8em;
    font-weight: normal;
    margin: 1.5em 0;
}

#plan > div:last-child .btn{
    width: calc(40% - .7em);
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
}

#partner h1 {
    font-size: initial;
}

#partner img {
    width: calc(55% - 1em);
    vertical-align: middle;
}

#partner article {
    display: inline-block;
    width: calc(45% - 2em);
    vertical-align: middle;
    margin: 1em;
}

#partner p {
    margin: 1em 0;
}

#partner a {
    border: 1px solid black;
}

.operation {
    width: calc((100% - 12em) / 3);
    float: left;
    margin: .5em 2em 3em;
}

.operation img {
    width: 100%;
}

.operation h2 {
    margin: .5em 0;
}

#operazioni .container {
    margin: 0 -2em;
}

.clearfix::after {
    content:"";
    display: table;
    clear: left;
}

#teams h1 {
    width: 55%;
}









